Makefile.in
Makefile
.deps
.libs
/.obsdir/
aclocal.m4
autom4te.cache
config.*
configure
depcomp
/debian
install-sh
libtool
ltmain.sh
missing
obs-package-from-git
stamp-h1
py-compile
test-driver
testsuite/*.txt.tmp
/compile
/doc/autodocs/
