[Unit]
Description=Take snapper snapshot of root on boot

[Service]
Type=oneshot
ExecStart=/usr/bin/snapper --config root create --cleanup-algorithm number --description "boot"
