[Unit]
Description=Snapper Highest Snapshot Number Synchronization
Documentation=man:snbk(8)
After=snapperd.service
Requires=snapperd.service

[Service]
Type=oneshot
ExecStart=/usr/sbin/snapper-sync
RemainAfterExit=yes

CapabilityBoundingSet=CAP_DAC_OVERRIDE CAP_FOWNER CAP_CHOWN CAP_FSETID CAP_SETFCAP CAP_SYS_ADMIN CAP_SYS_MODULE CAP_IPC_LOCK CAP_SYS_NICE CAP_MKNOD
LockPersonality=true
NoNewPrivileges=false
PrivateNetwork=true
ProtectHostname=true
RestrictAddressFamilies=AF_UNIX
RestrictRealtime=true

[Install]
WantedBy=timers.target
