---
navigation:
- text: Snapper
  url: /index.html
- text: Overview
  url: /overview.html
- text: Documentation
  url: /documentation.html
- text: Videos
  url: /videos.html
- text: Development
  url: /development.html
---
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Snapper, The ultimate Snapshot Tool for Linux</title>

    <!-- Le styles -->
    <link href="css/bootstrap.css" rel="stylesheet">
    <style type="text/css">
      body {
        padding-top: 60px;
        padding-bottom: 40px;
      }
    </style>
    <link href="css/bootstrap-responsive.css" rel="stylesheet">

    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

{% if site.safe %} {% comment %} GitHub sets site.safe {% endcomment %}
{% if page.social %}{% include social.html %}{% endif %}
{% if page.piwik %}{% include piwik.html %}{% endif %}
{% endif %}

  </head>
  <body>

    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
	<div class="container">
	  <ul class="nav">
	    {% for link in page.navigation %}
	    <li {% if link.url == page.url %}class="active"{% endif %}>
	      <a href="{{ link.url | remove: 'index.html' }}">{{ link.text }}</a></li>
	    {% endfor %}
	  </ul>
	</div>
      </div>
    </div>

    <div class="container">

      {{ content }}

      <hr>

      <footer>
	<p>&copy; 2013 <a href="http://www.suse.com/">SUSE</a></p>
      </footer>

    </div>

  </body>
</html>
