---
---
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Snapper, The ultimate Snapshot Tool for Linux</title>

    <!-- Le styles -->
    <link href="/css/bootstrap.css" rel="stylesheet">
    <style type="text/css">
      body {
        padding-top: 60px;
        padding-bottom: 40px;
      }
    </style>
    <link href="/css/pygments.css" rel="stylesheet">

    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

{% if site.safe %} {% comment %} GitHub sets site.safe {% endcomment %} {% endif %}

  </head>
  <body>

    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
	<div class="container">
	  <ul class="nav">
	    <li><a href="/">Snapper</a></li>
	    <li><a href="/overview.html">Overview</a></li>
	    <li><a href="/news.html">News</a></li>
	    <li><a href="/documentation.html">Documentation</a></li>
	    <li><a href="/videos.html">Videos</a></li>
	    <li><a href="/development.html">Development</a></li>
	  </ul>
	</div>
      </div>
    </div>

    <div class="container">

      {{ content }}

      <hr>

      <footer>
	<p>&copy; 2021 <a href="http://www.suse.com/">SUSE</a></p>
      </footer>

    </div>

  </body>
</html>
