name: CI Tumbleweed

on: [push, pull_request]

jobs:
  Tests:
    runs-on: ubuntu-latest
    container: opensuse/tumbleweed

    strategy:
      fail-fast: false
      matrix:
        compiler: [gcc, clang]

    steps:

    - name: Install additional packages
      run: |
        if [ "${{ matrix.compiler }}" = "gcc" ]; then
          zypper --non-interactive install --no-recommends gcc-c++
        elif [ "${{ matrix.compiler }}" = "clang" ]; then
          zypper --non-interactive install --no-recommends clang
        fi
        zypper --non-interactive install --no-recommends autoconf automake dbus-1-devel docbook-xsl-stylesheets gettext-runtime glibc-locale libacl-devel libboost_test-devel libboost_thread-devel libbtrfs-devel libbtrfsutil-devel libjson-c-devel libmount-devel libtool libxml2-devel libxslt make pam-devel xz

    - name: List installed packages
      run: rpm -qa | sort

    - name: Git checkout
      uses: actions/checkout@v1

    - name: Configure
      run: |
        if [ "${{ matrix.compiler }}" = "gcc" ]; then
          export CC=gcc
          export CXX=g++
        elif [ "${{ matrix.compiler }}" = "clang" ]; then
          export CC=clang
          export CXX=clang++
        fi
        make -f Makefile.repo

    - name: Compile
      run: make -j 2

    - name: Install
      run: make install

    - name: Run unit tests
      run: make -j 2 check VERBOSE=1

    - name: Make package
      run: make package
